<%- include("templates/header") %> 
    <h1 style='color:red'>Error!</h1>
    <div><%= error %> </div>

    <br><br>
    <form action="/home" method="get">
        <button>return</button>
    </form>
<%- include("templates/footer") %> 