<%- include("templates/header") %> 

<h1 style="color: green;">Welcome <%= username %>!</h1>

<img src="../public/images/lago_di_como.jpg" alt="">

<br>

<form action="/logout" method="get">
    <button>Logout</button>
</form>

<%- include("templates/footer") %> 