<!-- <%- include("templates/header") %>  -->
<%- include("templates/header") %>

<form method="post" action="/verifyLogin">
    <h1>Login</h1>
    <h5>Username</h5>
    <input name="username" type="text">
    <h5>Password</h5>
    <input name="password" type="password"><br><br>
    <button>Login</button>
</form>

<form method="get" action="/signup">
    <h6>Don't have an account?</h6>
    <button>Sign up</button>
</form>

<%- include("templates/header") %>