<!-- <%- include("templates/header") %>  -->
<%- include("templates/header") %>

<form method="post" action="/verifyLogin">
    <h1>Login</h1>
    <h5>Email</h5>
    <input name="email" type="Email">
    <h5>Password</h5>
    <input name="password" type="password">
    <button>Login</button>
</form>

<%- include("templates/header") %>