<%- include("templates/header") %>

<h2>Users in database</h2>
<ul>
    <% for(let i = 0; i < usersList.length; i++) { %>
        <li> <%= usersList[i].username %> :<%= usersList[i].password %> </li>
    <% } %>
</ul>

<%- include("templates/footer") %>